/*vatiaveis globais*/
:root{
    --white-color: #ffffff;
    --primary-color: #32082a;
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

/*fontes que vão ficar no body*/
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;  
}

/*fundo roxo*/
.fundo1{
    background: var(--primary-color);
    color: var(--white-color);
    width: 100%;
}

.fundo2-content{
    display: flex;
}

.fundo-floresta{
    width: 100%;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

/*fonte para o h1*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    color: var(--white-color);
}

a{
    color: var(--white-color);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #32082a;
    height: 8vh;
}

.layout-list{
    list-style: none;
    display: flex;
}

.layout-list li{
    letter-spacing: 1rem;
    margin-left: 5rem;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 3.2rem;
    height: 0.2rem;
    background: #ffffff;
    margin: 0.8rem;
    transition: 0.3s;
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
.layout-list{
    position:absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #32082a;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .layout-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.layout-list.active{
    transform: translateX(0);
}

@keyframes layoutLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/*@media{

.centro{
    height: ;
}

}*/

/*nome do centro do bg*/
.centro{
    position: absolute;
    top: 30%;
    left: 15%;
    text-align: justify;
}

.centro div h1{
    color: #32082a;
}

/*conforto termico*/
.conforto-content{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    text-align: justify;
}

/*cards*/

.card-container{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    background-image: linear-gradient(180deg, #32082a, #feddc9);
    height: 175vh;
}

.card-container .card{
   
   max-width: 35rem;
   height: 21.5rem;
   background: #ffffff;
   margin: 3rem 1rem;
   padding: 2rem 1.5rem;
   flex-direction: column;
   box-shadow: 0 0.5rem  20.2rem rgba(0, 0, 0, 0.5);
   transition: 0.3s ease-in-out;
}

.card-container .card:hover{
    height: 42rem;
}

.card-container .card .imgCard{
    position: relative;
    width: 26rem;
    height: 26rem;
    top: -6rem;
    left: 2rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.card-container .card .imgCard img{
    max-width: 100%;
    border-radius: 0.4rem;
}

.card-container .card .card-content{
    position: relative;
    margin-top: -14rem;
    padding: 1rem 1.5rem;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-container .card:hover .card-content{
    visibility: visible;
    opacity: 1;
    margin-top: -4rem;
    transition-delay: 0.3s;
}

/*Formulário*/

.formulario-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    background: #feddc9;
}

.formulario-container h1{
    color: var(--primary-color);
}

.formulario-container h3{
    color: var(--primary-color);
}